@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

.header_container {
    border-bottom: 1px solid #EEEEEE;
}

.header_content {
    max-width: 1770px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_content img {
    cursor: pointer;
}

.header_list {
    display: flex;
    align-items: center;
}

.menu-web_content {
    width: 100%;
    margin: 0 40px;
    display: flex;
    align-items: center;
}

.menu-web_content .dropDownStyle {
    display: block;
}

.menu-web_content .catalog_block {
    width: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 36px 15px 27px;
    background: #333366;
    border-radius: 5px;
    cursor: pointer;
}

.menu-web_content .catalog_items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-web_content .navbar_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.menu-web_content .navbar_block span {
    width: 17px;
    height: 1px;
    background-color: #FFFFFF;
}

.menu-web_content .navbar_block span:nth-child(2) {
    margin: 4px 0 !important;
}

.menu-web_content .catalog_items h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.drop_down-web-content {
    display: none;
    width: 290px;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    z-index: 10;
}

.menu-web_content .drop_down-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 8px 0;
    margin-bottom: 12px;
    border-bottom: 1px solid #C2C5D0;
}

.drop_down-web-content h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
}

.drop_down-web-content h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #293895;
}

.menu-web_content .search_block {
    width: 100%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border-radius: 6px;
    border: 1px solid #C2C5D0;
}

.menu-web_content .search_block input {
    width: 100%;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7A7A7A;
    outline: none;
}

.menu-web_content .search_block img {
    cursor: pointer;
}

.menu-web_content .search_block input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.menu-web_content .search_block input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.search_block input[type="search"]::-webkit-search-decoration,
.search_block input[type="search"]::-webkit-search-cancel-button,
.search_block input[type="search"]::-webkit-search-results-button,
.search_block input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.header_block {
    display: flex;
    align-items: center;
}

.header_items {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.header_items .cart_block {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 16px;
    top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FEBD69;
    border-radius: 20px;
}

.cart_block h3 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #222222;
}

.header_items:last-child {
    margin-left: 25px;
}

.header_items h1 {
    margin-top: 6px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #333366;
    margin-left: 5px;

}

/* Navbar */
.navbar_container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 11;
    background-color: rgba(0, 0, 0, .7);
    display: none;
}

.navbar_content {
    position: relative;
    width: 90%;
    height: 100vh;
    background-color: #FFFFFF;
}

.navbar_content .times {
    width: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.navbar-contacts_block {
    background: #333366;
    padding: 20px;
}

.navbar-contacts_items {
    display: flex;
    align-items: center;
}

.navbar-contacts_items img {
    width: 26px;
    margin-right: 7px;
}

.navbar-contacts_block .phone_number {
    margin-top: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.navbar-call_block {
    cursor: pointer;
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.navbar-call_block img {
    color: #FFFFFF;
    width: 12px;
    height: 15px;
}

.navbar-call_block h1 {
    margin-left: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #62D33E;
}

.navbar-catalog_content {
    margin-top: 20px;
    padding: 0 20px;
}

.navbar-catalog_block {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background: #333366;
    border-radius: 3px;
    cursor: pointer;
}

.navbar-catalog_items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.nav_block span {
    width: 17px;
    height: 1px;
    background-color: #FFFFFF;
}

.nav_block span:nth-child(2) {
    margin: 4px 0 !important;
}

.navbar-catalog_items h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #FFFFFF;
}

.navbar-menu_content {
    padding: 0 20px;
    margin-top: 24px;
}

.navbar-menu_items {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    cursor: pointer;
}

.navbar-menu_items .cart-count_block {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FEBD69;
    border-radius: 20px;
}

.cart-count_block h3 {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: #222222;
}

.navbar-menu_items h1 {
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
}

.navbar-date_container {
    padding: 15px 0;
    width: 100%;
    position: absolute;
    bottom: 15px;
    border-top: 1px solid #C1C7EC;
}

.navbar-date_container .title {
    padding: 0 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #62D33E;
}

.navbar-date_items h1 {
    padding: 0 20px;
    margin-top: 12px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
}

/* End of Navbar */

.container {
    max-width: 1770px;
    margin: 40px auto 0 auto;
}

.menu-mobile_content {
    width: 100%;
    margin-top: 30px;
    display: none;
    align-items: center;
}

.menu-mobile_content .dropDownStyle2 {
    display: block;
}

.menu-mobile_content .catalog_block {
    width: 100px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 36px 15px 27px;
    background: #333366;
    border-radius: 5px;
    cursor: pointer;
}

.menu-mobile_content .mobile {
    display: none;
}

.menu-mobile_content .catalog_items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-mobile_content .navbar_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.menu-mobile_content .navbar_block span {
    width: 17px;
    height: 1px;
    background-color: #FFFFFF;
}

.menu-mobile_content .navbar_block span:nth-child(2) {
    margin: 4px 0 !important;
}

.menu-mobile_content .catalog_items h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.drop_down-mobile-content {
    display: none;
    width: 290px;
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    z-index: 10;
}

.menu-mobile_content .drop_down-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 8px 0;
    margin-bottom: 12px;
    border-bottom: 1px solid #C2C5D0;
}

.drop_down-mobile-content h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #222222;
}

.drop_down-mobile-content h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #293895;
}

.menu-mobile_content .search_block {
    width: 100%;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border-radius: 6px;
    border: 1px solid #C2C5D0;
}

.menu-mobile_content .search_block input {
    width: 100%;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #7A7A7A;
    outline: none;
}

.menu-mobile_content .search_block img {
    cursor: pointer;
}

.menu-mobile_content .search_block input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.menu-mobile_content .search_block input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.search_block input[type="search"]::-webkit-search-decoration,
.search_block input[type="search"]::-webkit-search-cancel-button,
.search_block input[type="search"]::-webkit-search-results-button,
.search_block input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.cart_title_block {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
}

.cart_title_block h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #282739;
}

.cart_title_block h2 {
    margin-left: 15px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
}

.cart-product_container {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-product_content {
    width: 100%;
}

.cart_content {
    margin-bottom: 40px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #D6D8DC;
}

.cart-image_block {
    border-radius: 8px;
    width: 250px;
    background-color: #FFFFFF;
}

.cart-image_block img {
    width: 100%;
    object-fit: cover;
}

.cart-product_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-product_items {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.car-product-about_block {
    width: 100%;
    margin-right: 15px;
}

.car-product-about_block h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #222222;
}

.car-product-about_block h2 {
    margin-top: 10px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #222222;
}

.cart-product-price_block {
    width: 130px;
}

.cart-product-price_block h1 {
    width: 130px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #222222;
}

.cart-product-price_block h2 {
    margin-top: 2px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #828282;
}

.cart-details_block {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-delete_bock {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-delete_bock img {
    width: 15px;
}

.cart-delete_bock h1 {
    margin-left: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #1B52B2;
}

.cart-product-count_block {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid #D6D8DC;
    border-radius: 5px;
}

.cart-product-count_block button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: #232F3E;
    cursor: pointer;
}

.cart-product-count_block h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #333366;
}

.cart_totalPrice_content {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 295px;
    border: 1px solid #D6D8DC;
    border-radius: 10px;
}

.cart_totalPrice_block {
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #D6D8DC;
}

.cart_totalPrice_items h1 {
    width: 220px;
    margin-top: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    color: #282739;
}

.cart_totalPrice_items h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #222222;
}

.allProducts {
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #222222;
}

.cart_totalPrice_content button {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 46px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #FFFFFF;
    background: #333366;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}














@media screen and (max-width: 1840px) {

    .container,
    .header_container,
    .footer-title_items {
        margin: 0 50px;
    }

    .footer_content {
        margin: 50px 50px 0 50px;
    }
}

@media screen and (max-width: 1339px) {
    .product-counts_block {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1060px) {
    .products-details_content {
        margin-left: 20px;
    }
}

@media screen and (max-width: 1023px) {
    .product_container {
        flex-wrap: wrap;
    }

    .products-details_content {
        margin: 40px 0 0 0;
    }

    .product-counts_block {
        margin-top: 0;
    }
}

@media screen and (max-width: 992px) {
    .menu-web_content {
        display: none;
    }

    .menu-mobile_content {
        display: flex;
    }

    .footer-title_items {
        height: auto;
        flex-direction: column;
        padding: 20px 0;
    }

    .footer-phone_block {
        margin-top: 20px;
        width: 100%;
    }

    .footer-title_items h1 {
        text-align: center;
        margin-right: 0;
    }

    .footer-phone_block input {
        width: 100%;
    }
}

@media screen and (max-width: 921px) {
    .footer-content_block {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-content_items {
        margin-bottom: 20px;
    }

    .footer-content_items:nth-child(2) {
        margin: 0 30px;
    }
}


@media screen and (max-width: 795px) {

    .container,
    .header_container {
        margin: 0 10px;
    }

    .footer-title_items {
        margin: 0 20px;
    }

    .footer_content {
        margin: 50px 20px 0 20px;
    }

    .menu_content {
        padding: 0 20px;
    }

    .web {
        display: none;
    }

    .mobile {
        display: block;
    }

    .navbar_container {
        display: none;
    }

    .header_list {
        display: none;
    }
}

@media screen and (max-width: 767px) {

    .products-details_content .title,
    .products-description_block .articul {
        display: none;
    }

    .title_mobile_block {
        width: 100%;
        display: block;
    }

    .title_mobile_block h1 {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 35px;
        color: #282739;
    }

    .title_mobile_block h2 {
        margin-top: 5px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: #5D6C7B;
        opacity: 0.7;
    }

    .products-photos_content {
        margin-top: 20px;
    }

    .products-details_content {
        width: 100%;
    }

    .products-details_block {
        flex-direction: column-reverse;
    }

    .product-counts_block {
        width: auto;
    }

    .products-description_block .description {
        width: 100%;
    }
}

@media screen and (max-width: 623px) {

    .header_items h1,
    .menu-mobile_content .catalog_items h1,
    .menu-mobile_content .search_block input,
    .products-description_block .description,
    .footer-title_items h1,
    .footer-phone_block input,
    .footer-phone_block button {
        font-size: 14px;
    }

    .title_mobile_block h1 {
        font-size: 30px;
    }

    .products-photos_content {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }

    .products-full-photos_block {
        width: 100%;
        height: auto;
    }

    .products-mini-photos_block {
        flex-direction: column;
        margin-right: 10px;
    }

    .products-mini-photos_items {
        margin-top: 10px;
        margin-left: 0;
    }

    .products-description_block .name-description {
        font-size: 20px;
    }

    .price_block h1 {
        font-size: 29px;
    }

    .footer-content_items h1,
    .counts_block h2 {
        font-size: 16px;
    }

    .footer-content_items h2,
    .socials_block h1 {
        font-size: 13px;
    }

    .footer-content_socials .footer_logo,
    .header_content .logo {
        width: 130px;
        height: auto;
    }
}

@media screen and (max-width: 613px) {
    .footer-content_socials .footer_logo {
        margin-bottom: 30px;
    }

    .socials_block {
        margin-bottom: 30px;
    }
}


@media screen and (max-width: 543px) {
    .menu_content {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .search_block {
        margin: 0;
        width: 100%;
        padding: 16px 0;
    }

    .search_block input,
    .search_block img {
        margin: 0 10px;
    }
}

@media screen and (max-width: 500px) {

    .header_items {
        display: none;
    }

    .menu-mobile_content .web {
        display: none;
    }

    .menu-mobile_content .mobile {
        display: block;
    }
}

@media screen and (max-width: 435px) {
    .menu-mobile_content {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .menu-mobile_content .search_block {
        margin-left: 0;
        padding: 16px 0;
    }

    .menu-mobile_content .catalog_block {
        margin-top: 20px;
        width: 70px;
    }

    .footer-phone_block {
        flex-direction: column;
    }

    .footer-phone_block input {
        padding: 15px 0;
        width: 100%;
        text-indent: 20px;
    }

    .footer-phone_block button {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
}

@media screen and (max-width: 421px) {
    .footer-content_block {
        flex-direction: column;
    }

    .footer-content_items {
        margin: 0;
    }

    .footer-content_items:nth-child(2) {
        margin: 25px 0;
    }
}

@media screen and (max-width: 369px) {
    .title_mobile_block h1 {
        font-size: 27px;
    }

    .products-full-photos_block {
        width: auto;
    }
}

@media screen and (max-width: 343px) {
    .products_content {
        width: 100%;
        height: 360px;
    }

    .products_content img {
        width: 220px;
        height: 220px;
    }

    .products_items .title {
        font-size: 18px;
    }

    .products_items .cost {
        font-size: 12px;
    }

    .products_items .last_cost {
        font-size: 15px;
    }

    .products_block button {
        padding: 10px;
    }
}